

body {
  background-color: rgb(34, 33, 33);
  color: #fff;
  background-image: url(./5027403.jpg);

}

.App {
  text-align: center;
}

.taskBg {
  background-color: rgb(67, 69, 72);
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: rgb(152, 143, 143);
  border: 1px solid rgb(150, 145, 145);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskBg .taskText {
  flex: 1;
  color : rgb(230, 12, 12);
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #00ff89;
}

.taskBg .iconsWrap span:hover {
  color: yellow;
}

.mr-20 {
  margin-right: 20px; 
}

.navlist{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  /*background: linear-gradient(90deg,rgb(6, 9, 115) 0,rgba(0, 72, 255, 0.539) 48%,#c9164c7f 70%,#294fc289);*/
  max-height: 6.3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #333;*/
}

/*.today {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display : flex;
}

.important {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display : flex;
  margin-left: 0px;
}

.completed {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display : flex;
  margin-left: 290px;
}*/

li {
  float: left;
  border-radius: 25px;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0%;
  
  
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  border-radius:25px ;
}
.active {
  background-color: #04AA6D;
}